<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Un petit site fait à la main pour vous présenter Aurore Leblois, une développeuse web fullstack" /> 
  <title>Portfolio d'Aurore Leblois</title>
  <!-- css barre -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- fontawasome -->
  <script src="https://kit.fontawesome.com/49ab5d085c.js" crossorigin="anonymous"></script>

  <!-- homemade css -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- police -->
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
  <!-- favicon -->
  <link rel="icon" href="image/favicon.ico" />
</head>
<body>
  <header>
  <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Accueil<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cv">CV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/realisation">Réalisations</a>
        </li>
      </ul>
    </div>
  </nav>

  </header>

  <main class="main">