<%- include('partials/header') %>
<div class="container">
<div class="loupe-container">
   <p class="giant">404</p> 
<i class="fas fa-search fa-10x loupe"{animation-name:search;}></i>
</div>
</div>
<%- include('partials/footer') %>