<%- include('partials/header') %>
<div class="container form">
    <form class="d-flex flex-column bd-highlight mb-3" action="Post">
  
      <label for="fname">Prénom</label>
      <input type="text" id="fname" name="firstname" placeholder="Votre prénom">
  
      <label for="lname">Nom</label>
      <input type="text" id="lname" name="lastname" placeholder="Votre nom">
  
      <label for="subject">Sujet</label>
      <textarea id="subject" name="subject" placeholder="Un petit mot pour comprendre ce que vous désirez" style="height:200px"></textarea>
  
      <input type="submit" value="Submit" class="btn btn-info size">
  
    </form>
  </div>

  <div class="card" style="width: 15rem;">
    <div class="card-body">
      <h5 class="card-title">Autre contact</h5>
      <p class="card-text">Vous pouvez également me retrouver sur linkedin</p>
      <a href="https://www.linkedin.com/in/aurore-leblois/"  target="_blank" class="btn btn-primary">Mon linkedin</a>
    </div>
  </div>


<%- include('partials/footer') %>