<%- include('partials/header') %>
<div class="container">
<h1 META name="keywords" content="Portfolio de Aurore Leblois">Portfolio d'Aurore Leblois</h1>

<img src="image/avataaars.png" class="avatar" alt="Un petit logo réalisé avec getavataar">
<p>Voici mon Portfolio réalisé avec Bootstrap, express et ejs. Vous trouverez ici mon CV et mes réalisations</p>
<div class ="inline-block">

  <div class="card-body">
  
    <a href="/cv" class="btn btn-info">Voir le CV</a>
 
  </div>

    <div class="card-body">
   
      <a href="/realisation" class="btn btn-info">Voir les sites</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>