<%- include('partials/header') %>
<div class="container">
<h1> Bienvenue sur mon portfolio</h1>
<div class ="inline-block">
  <div class="card-body">
  
    <a href="/cv" class="btn btn-info">Voir le CV</a>
 
  </div>

    <div class="card-body">
   
      <a href="/realisation" class="btn btn-info">Voir les sites</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>