<%- include('partials/header') %>
<div class="container">
<h1 META name="keywords" content="sites réalisés">Mes réalisations</h1>
<h2 class="hidden" META name="keywords" content="ecole O'Clock">Réalisé dans le cadre de la spécialistion O'Clock</h2>
<h3 class="hidden" META name="keywords" content="Aurore LEBLOIS"> Sans plus attendre</h3>
<h4><a target="_blank" href="http://pair2peer.com/">Site Pair2Peer (nouvelle fenêtre)</a></h4>

  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
   
    <div class="carousel-inner">
      <a target="_blank" href="http://pair2peer.com/">
      <div class="carousel-item active" data-interval="10000">
        <img src="image/acceuil_site.JPG" class="d-block w-100" alt="page d'accueil du site pair2peer lorsque l'on est pas connecté">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="image/acceuil_co.JPG" class="d-block w-100" alt="page d'accueil du site pair2peer lorsque l'on est connecté">
      </div>
      <div class="carousel-item">
        <img src="image/page_recherche.JPG" class="d-block w-100" alt="La page de recherche">
      </div>
      <div class="carousel-item">
        <img src="image/map_site.JPG" class="d-block w-100" alt="La map avec géolocalisation qui indique la position des développeurs enregistrés sur le site">
      </div>
    </a>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only text-info">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only text-info">Next</span>
    </a>
 
  </div>
</div>
<%- include('partials/footer') %>